@model IEnumerable<phoneBook.Models.peopleInDirectory>

@{
    ViewBag.Title = "ListPeople";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Kişilerim</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id = item.id }) |
            @Html.ActionLink("Sil", "Delete", new { id = item.id })
        </td>
    </tr>
}
</table>
